/superr_*
/tools/boot/*.zip
/tools/inject-sepolicy/
/tools/open_bump.py
/tools/root/bloat_custom
/tools/root/supersu/*
!/tools/root/supersu/BETA-SuperSU-v2.74-2.zip
/tools/depmet
/tools/depbuild
/tools/dependencies2
/tools/updatecheck*
/tools/boot/mtk-tools/mkbootimg
/tools/mkbootimg
/tools/unpackbootimg
/tools/simg2img
/tools/make_ext4fs
/tools/mkbootimg.exe
/tools/unpackbootimg.exe
/tools/simg2img.exe
/tools/make_ext4fs.exe
/tools/adb.exe
/tools/rimg2sdat.exe
/tools/zipalign.exe
/tools/devices/*
!/tools/devices/a5xelte
!/tools/devices/ada
!/tools/devices/angler
!/tools/devices/Aquaris_E5_HD
!/tools/devices/bullhead
!/tools/devices/C6730
!/tools/devices/cm_osprey
!/tools/devices/cprimeltemtr
!/tools/devices/falcon_cdma
!/tools/devices/flounder
!/tools/devices/htc_m8
!/tools/devices/hwRIO-L01
!/tools/devices/k3g
!/tools/devices/Lion-5
!/tools/devices/msm8916_32
!/tools/devices/noblelte
!/tools/devices/nobleltetmo
!/tools/devices/OnePlus2
!/tools/devices/p1
!/tools/devices/P175A20
!/tools/devices/pplus
!/tools/devices/rainbow
!/tools/devices/S3
!/tools/devices/shamu
!/tools/devices/speed
!/tools/devices/surnia_cdma
!/tools/devices/tre3g
!/tools/devices/trelte
!/tools/devices/w5c
!/tools/devices/w3c
!/tools/devices/warp2
!/tools/devices/warp4
!/tools/devices/warplte
